body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.header {
    background-color: #6200ea;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 80px; 
}

.header .custom-select {
    position: relative;
    margin-left: 1%;
}

.header .custom-select select { 
    height: 35px; 
    width: 125px; 
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}

.header h1 {
    position: absolute;
    left: 50%; /* 50% of the header */
    transform: translateX(-50%); /* 50% left-hand shift of h1 */
}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.add-task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-task input,
.add-task select,
.add-task button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-task input[type="text"] {
    flex: 2;
    margin-right: 10px;
}

.add-task select {
    flex: 1;
    margin-right: 10px;
    background-color: #fff;
}

.add-task button {
    flex: 0.5;
    background-color: #6200ea;
    color: #fff;
}

.add-task button:hover {
    background-color: #4500b5;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.task span {
    margin-right: 10px;
}

.task form {
    display: inline;
    margin: 0;
}

.delete_button {
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.delete_button:hover {
    background-color: #9a0000;
}

.edit_button {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.edit_button:hover {
    background-color: darkblue;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 20px;
}

.profile-container h1 {
    text-align: center;
}

.profile-info {
    margin-bottom: 10px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#xp1 {
    margin-left: 75%;
}

.rules {
    width: 25%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 20px;
}

.tasks {
    width: 500px;
}

.completed {
    text-decoration: line-through;
}

.task_button {
    display: inline-block;
}

.badges h1 {
    text-align: center;
}

.badges img {
    width: 110px;
    height: 150px;
    margin: 5px;
}